.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0 12% 0;
    height: 60vh;
}

.featured-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.featured-image-wrapper {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 40%;
}

.featured-portrait-container {
    height: 300px;
    width: 300px;
    rotate: 45deg;
    margin-right: -30px;
    border-radius: 3px;
    border: 3px solid rgb(18, 21, 47);
    background-color: rgb(214, 184, 14);
    overflow: hidden;
}

.featured-portrait__image {
    min-width: 150%;
    min-height: 150%;   
    rotate: -45deg;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -75px 0 0 -80px;
}

.image-troy-portrait {
    background-image: url(/src/images/about/troy-caselli-portrait-square.jpeg);
}

.featured-certification-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 15%;
}

.featured-certification-container {
    height: 120px;
    width: 120px;
    rotate: 45deg;
    margin: 0 0 -260px -70px;
    border-radius: 3px;
    border: 3px solid rgb(18, 21, 47);
    background-color: white;
    overflow: hidden;
    transition: 300ms ease-in-out;
}

.featured-certification-container:hover {
    scale: 1.05;
    cursor: pointer;
}

.featured-certification__image {
    min-width: 150%;
    min-height: 150%;   
    margin: -28px 0 0 -28px;
    rotate: -45deg;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-bloomtech-logo {
    background-image: url(/src/images/logo/bloomtech-logo-circle.png);
}

.featured-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 45%;
    margin-right: 30px;
}

.featured-text-titles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.featured-text__title {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0 1%;
}

.featured-text__body {
    line-height: 20px;
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(214, 184, 14);
    border-radius: 3px;
}