.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.featured-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.featured-image-wrapper {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 320px;
}

.featured-portrait-container {
    height: 300px;
    width: 300px;
    rotate: 45deg;
    margin-right: -30px;
    border-radius: 3px;
    border: 3px solid rgb(18, 21, 47);
    background-color: rgb(214, 184, 14);
    overflow: hidden;
}

.featured-portrait__image {
    min-width: 150%;
    min-height: 150%;   
    rotate: -45deg;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -75px 0 0 -80px;
}

.image-troy-portrait {
    background-image: url(/src/images/about/troy-caselli-portrait-square.jpeg);
}

.featured-certification-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 150px;
}

.featured-certification-container {
    height: 120px;
    width: 120px;
    rotate: 45deg;
    margin: 0 0 -260px -70px;
    border-radius: 3px;
    border: 3px solid rgb(18, 21, 47);
    background-color: white;
    overflow: hidden;
    transition: 300ms ease-in-out;
}

.featured-certification-container:hover {
    scale: 1.05;
    cursor: pointer;
}

.featured-certification__image {
    min-width: 150%;
    min-height: 150%;   
    margin: -28px 0 0 -28px;
    rotate: -45deg;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-bloomtech-logo {
    background-image: url(/src/images/logo/bloomtech-logo-circle.png);
}

.featured-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 45%;
}

.featured-text-titles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.featured-text__title {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0 1%;
}

.featured-text-paragraphs {
    border: 2px solid rgb(214, 184, 14);
    border-radius: 3px;
    height: 350px;
    overflow-y: auto;
}

.featured-text-paragraphs::-webkit-scrollbar {
    width: 18px;
}
  
.featured-text-paragraphs::-webkit-scrollbar-track {
    background: transparent;
}
  
.featured-text-paragraphs::-webkit-scrollbar-thumb {
    background-color: rgb(214, 184, 14);
    border-radius: 20px;
    border: 5px solid rgb(202, 231, 253);
}

.featured-text__paragraph {
    line-height: 20px;
    text-align: left;
    padding: 10px;
}

/* About me page slideshow is adapted from https://dev.to/shantanu_jana/3d-image-slider-using-html-css-328b */

.slideshow-header {
    font-size: 3rem;
    color: rgb(18, 21, 47);
    margin-top: 15%;
}

.slideshow-divider {
    border: 2px solid rgb(214, 184, 14);
    width: 225px;
}

#slideshow {
    position: relative;
    width: 50%;
    height: 28vw;
    margin: 5% auto 10% auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
}
  
.slideshow__button {
    display: none;
}

.slideshow__label,
.slideshow__image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(18, 21, 47);
    font-size: 70px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
    overflow:  hidden;

}

.slideshow__image {
    width: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}

/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5,
#s6:checked ~ #slide6,
#s7:checked ~ #slide7 {
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);
    border: 3px solid rgb(214, 184, 14);
}

/* Slide Right(1) */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide6,
#s6:checked ~ #slide7,
#s7:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(20%, 0, -100px);
    opacity: .5;
    border: 2px solid rgb(214, 184, 14);
}

/* Slide Left(1) */
#s1:checked ~ #slide7,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4,
#s6:checked ~ #slide5,
#s7:checked ~ #slide6 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-20%, 0, -100px);
    opacity: .5;
    border: 2px solid rgb(214, 184, 14);
}

/* Slide Right(2) */
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide6,
#s5:checked ~ #slide7,
#s6:checked ~ #slide1,
#s7:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(40%, 0, -250px);
    opacity: .2;
    border: 1px solid rgb(214, 184, 14);
}

/* Slide Left(2) */
#s1:checked ~ #slide6,
#s2:checked ~ #slide7,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3,
#s6:checked ~ #slide4,
#s7:checked ~ #slide5 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-40%, 0, -250px);
    opacity: .2;
    border: 1px solid rgb(214, 184, 14);
}

/* Slide Right(3) */
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide6,
#s4:checked ~ #slide7,
#s5:checked ~ #slide1,
#s6:checked ~ #slide2,
#s7:checked ~ #slide3 {
    opacity: 0;
}

/* Slide Left(3) */
#s1:checked ~ #slide5,
#s2:checked ~ #slide6,
#s3:checked ~ #slide7,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2,
#s6:checked ~ #slide3,
#s7:checked ~ #slide4 {
    opacity: 0;
}