/* include border and padding in element width and height */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.app-wrapper {
    min-height: 100%;
    background-color: rgb(202, 231, 253);
}

.header,
.footer {
    flex: none;
}

.main {
    flex: auto;
    min-height: 90vh;
}