.featured-landing-wrapper {
  position: relative;
  padding-bottom: 62.5%;
  height: 0;
  width: 100%;
  z-index: 2;
}
.featured-landing-video {
  position: absolute;
  top: 0;
  left: 15%;
  width: 70%;
  height: 70%;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .featured-landing-video {
    left: 5%;
    width: 90%;
    height: 90%;
  }
}

/* .featured-landing-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15%;
}
.featured-card__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 450px;
  width: 300px;
  border-radius: 3px;
  text-decoration: none;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: transform 300ms ease-out;
}
.featured-card__link:hover {
  transform: scale(1.03);
}
.featured-mockups {
  background-image: url("/src/images/featured/blueprint-468610967.jpg");
}
.featured-title {
  font-size: 1.7rem;
  font-weight: 700;
  color: rgb(13, 13, 13);
  padding: 5px 10px;
  border-radius: 3px;
  background: radial-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
}
.featured-container {
  background-color: rgba(255, 255, 255, 0.6);
  height: 55%;
  width: 100%;
  margin-top: 20px;
  padding: 20px 20px 0 20px;
}
.featured-info {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color);
} */
