.footer-wrapper {
    background-color: var(--primary-color);
    padding: 5px 0;
}

.footer-container-top {
    display: flex;
    justify-content: center;
}

.footer-container-bottom {
    display: flex;
    justify-content: center;
}

.footer-media-top {
    height: 30px;
    width: 30px;
    border-radius: 3px;
    margin: 15px 25px -8px 25px;
    rotate: 45deg;
    background-color: var(--secondary-color);
    box-shadow: 3px 3px 9px black;
    transition: ease-out .5s;
}

.footer-media-bottom {
    height: 30px;
    width: 30px;
    border-radius: 3px;
    margin: -8px 25px 15px 25px;
    rotate: 45deg;
    background-color: var(--secondary-color);
    box-shadow: 3px 3px 9px black;
    transition: ease-out .5s;
}

.footer-media-top:hover, .footer-media-bottom:hover {
    cursor: pointer;
    background-color: var(--tertiary-color);
}

.footer-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    rotate: -45deg;
    color: var(--primary-color);
}