/* Navigation for tablets and phones: Max-width: 900px */
@media (max-width: 900px) {
  /* .hamburger-wrapper {
        position: sticky;
    } */
  .hamburger-input {
    display: none;
  }

  .hamburger-menu {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .hamburger-input:checked + .hamburger-menu {
    box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
    border-radius: 0;
  }

  .hamburger {
    position: absolute;
    right: 15px;
    bottom: 28px;
    width: 30px;
    height: 2px;
    background: #69d2e7;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .hamburger:before,
  .hamburger:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #69d2e7;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .hamburger:before {
    top: -10px;
  }

  .hamburger:after {
    bottom: -10px;
  }

  .hamburger-input:checked + .hamburger-menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .hamburger-input:checked + .hamburger-menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }

  .hamburger-input:checked + .hamburger-menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
  }

  .hamburger-links {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
  }

  .hamburger-input:checked + .hamburger-menu + .hamburger-links {
    z-index: 2;
    opacity: 1;
  }

  .hamburger-link {
    padding: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--secondary-color);
  }

  .hamburger-input:checked + .hamburger-menu + .hamburger-link {
    display: flex;
    flex-direction: column;
  }

  .hamburger-link:active {
    -webkit-text-fill-color: var(--tertiary-color);
    animation: press 0.2s 1 linear;
  }
  @keyframes press {
    0% {
      scale: 1;
    }
    50% {
      scale: 0.95;
    }
    100% {
      scale: 1;
    }
  }

  .current {
    border-bottom: 2px solid var(--secondary-color);
  }
}
