.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    /* fixes header to top of screen */
    position: sticky;
    z-index: 2;
    width: 100%;
    top: 0px;
}

.navlink-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(18, 21, 47);
    box-shadow: 0px -10px 0px 10px rgb(32, 82, 151), 0px 2px 10px rgb(18, 21, 47);
}

.navlink-container-left {
    display: flex;
    justify-content: right;
    width: 45%;
}

.navlink-container-right {
    display: flex;
    justify-content: left;
    width: 45%;
}

.header-link {
    padding: 20px;
    text-decoration: none;
    color: gray;
    transition: ease-out .2s;

    font-weight: 500;
    overflow: hidden;
    background: linear-gradient(to right, rgb(202, 231, 253), rgb(202, 231, 253) 50%, rgb(214, 184, 14) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 500ms ease;
}

.header-link:hover {
    background-position: 0 100%;
}

.current {
    border-bottom: 2px solid rgb(202, 231, 253);
}

.logo-container {
    height: 60px;
    width: 60px;
    rotate: 45deg;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(214, 184, 14);
    box-shadow: 2px 2px 10px 0px rgb(18, 21, 47);
    border-radius: 3px;
}

.logo-image {
    rotate: -45deg;
    height: 40px;
    width: 40px;
}

@media (max-width: 450px) {
    .header-wrapper {
        position: static;
    }
    .navlink-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 0 60px 0;
    }
    .navlink-container-left,
    .navlink-container-right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-link {
        font-size: 1.2rem;
        padding: 15px 0 5px 0;
    }
}