html, body {
	background: rgb(18, 21, 47);
    text-align: center;
    height: 100%;
}
/* Introduction Section */

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 150px 0;
}

.svg-wrapper {
    width: 600px;
    z-index: 1;
}

.shape {
    stroke-dasharray: 200 1300;
    stroke-dashoffset: -950;
    stroke-width: 8px;
    fill: transparent;
    opacity: .7;
    stroke: rgb(214, 184, 14); 
    /* #19f6e8; */
    border-bottom: 5px solid rgb(18, 21, 47);;
    transition: stroke-width 1s, stroke-dashoffset 1.5s, stroke-dasharray 1.5s;
}

.text {
    font-family: inherit;
    font-size: 4rem;
    letter-spacing: 8px;
    fill: rgb(18, 21, 47);
    position: relative;
    font-weight: bold;
}

.svg-wrapper:hover .shape {
    stroke-width: 4px;
    stroke-dasharray: 1500;
    stroke-dashoffset: 0;
}

.tools-wrapper {
    margin: 50px 0 0 0;
    height: 50px;
    width: 50px;
    position: relative;
}

.tool-container {
    height: 60px;
    width: 60px;
    rotate: 45deg;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(226, 192, 2);
    box-shadow: 2px 2px 10px 0px black;
    border-radius: 3px;
}

.tool-image {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
}


.tool-1 {
    animation: 16s ease-in-out 0s infinite reverse both running oscillate-0;
}
.tool-2 {
    animation: 16s ease-in-out -8s infinite reverse both running oscillate-0;
}
@keyframes oscillate-0 {
    0% {left: 0px; top: -250px; opacity: .5;}
    25% {opacity: 0;}
    50% {left: 0px; top: 250px; opacity: .5;}
    75% {opacity: 0;}
    100% {left: 0px; top: -250px; opacity: .5;}
}
.tool-3 {
    animation: 16s ease-in-out -4s infinite reverse both running oscillate-22;
}
.tool-4 {
    animation: 16s ease-in-out -12s infinite reverse both running oscillate-22;
}
@keyframes oscillate-22 {
    0% {left: 96px; top: -231px; opacity: .5;}
    25% {opacity: 0;}
    50% {left: -96px; top: 231px; opacity: .5;}
    75% {opacity: 0;}
    100% {left: 96px; top: -231px; opacity: .5;}
}
.tool-5 {
    animation: 16s ease-in-out 0s infinite reverse both running oscillate-45;
}
.tool-6 {
    animation: 16s ease-in-out -8s infinite reverse both running oscillate-45;
}
@keyframes oscillate-45 {
    0% {left: 177px; top: -177px; opacity: .5;}
    25% {opacity: 0;}
    50% {left: -177px; top: 177px; opacity: .5;}
    75% {opacity: 0;}
    100% {left: 177px; top: -177px; opacity: .5;}
}
.tool-7 {
    animation: 16s ease-in-out -4s infinite reverse both running oscillate-67;
}
.tool-8 {
    animation: 16s ease-in-out -12s infinite reverse both running oscillate-67;
}
@keyframes oscillate-67 {
    0% {left: -231px; top: 96px; opacity: .5;}
    25% {opacity: 0;}
    50% {left: 231px; top: -96px; opacity: .5;}
    75% {opacity: 0;}
    100% {left: -231px; top: 96px; opacity: .5;}
}
.tool-9 {
    animation: 16s ease-in-out 0s infinite reverse both running oscillate-90;
}
.tool-10 {
    animation: 16s ease-in-out -8s infinite reverse both running oscillate-90;
}
@keyframes oscillate-90 {
    0% {left: -250px; top: 0px; opacity: .5;}
    25% {opacity: 0;}
    50% {left: 250px; top: 0px; opacity: .5;}
    75% {opacity: 0;}
    100% {left: -250px; top: 0px; opacity: .5;}
}
.tool-11 {
    animation: 16s ease-in-out -4s infinite reverse both running oscillate-112;
}
.tool-12 {
    animation: 16s ease-in-out -12s infinite reverse both running oscillate-112;
}
@keyframes oscillate-112 {
    0% {left: -231px; top: -96px; opacity: .5;}
    25% {opacity: 0;}
    50% {left: 231px; top: 96px; opacity: .5;}
    75% {opacity: 0;}
    100% {left: -231px; top: -96px; opacity: .5;}
}
.tool-13 {
    animation: 16s ease-in-out 0s infinite reverse both running oscillate-135;
}
.tool-14 {
    animation: 16s ease-in-out -8s infinite reverse both running oscillate-135;
}
@keyframes oscillate-135 {
    0% {left: -177px; top: -177px; opacity: .5;}
    25% {opacity: 0;}
    50% {left: 177px; top: 177px; opacity: .5;}
    75% {opacity: 0;}
    100% {left: -177px; top: -177px; opacity: .5;}
}
.tool-15 {
    animation: 16s ease-in-out -4s infinite reverse both running oscillate-157;
}
.tool-16 {
    animation: 16s ease-in-out -12s infinite reverse both running oscillate-157;
}
@keyframes oscillate-157 {
    0% {left: -96px; top: -231px; opacity: .5;}
    25% {opacity: 0;}
    50% {left: 96px; top: 231px; opacity: .5;}
    75% {opacity: 0;}
    100% {left: -96px; top: -231px; opacity: .5;}
}

.titles-wrapper {
    display: flex;
    justify-content: center;
    /* background: rgb(202, 231, 253, .7); */
    text-align: left;
    width: 100%;
    z-index: 1;
    margin-top: -20px;
}

.title-names {
    white-space: pre-wrap;
    font-family: inherit;
    font-size: 1.8rem;
    letter-spacing: 4px;
    line-height: 35px;
    color: rgb(18, 21, 47);
    font-weight: 900;
    text-indent: 40px;
}

/* Projects Section */

.projects-header {
    font-size: 3rem;
    color: rgb(18, 21, 47);
    margin-top: 200px;
}

.projects-divider {
    border: 2px solid rgb(214, 184, 14);
    width: 125px;
}

.projects-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 10% 0 10% 0;
}

.projects-container-left {
    width: 50%;
}

.projects-container-right {
    width: 50%;
}

.project-container-left {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0px 20px 150px 0;
}

.project-container-right {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 150px 0 0px 20px;
}

.project-info {
    width: 50%;
}

.project-image-container-left {
    height: 150px;
    width: 150px;
    rotate: 45deg;
    margin: 0 -30px 0 50px;
    border-radius: 3px;
    border: 3px solid rgb(214, 184, 14);
    background-color: rgb(214, 184, 14);
    overflow: hidden;
    transition: 300ms ease-in-out;
}

.project-image-container-right {
    height: 150px;
    width: 150px;
    rotate: 45deg;
    margin: 0 50px 0 -30px;
    border-radius: 3px;
    border: 3px solid rgb(214, 184, 14);
    background-color: rgb(214, 184, 14);
    overflow: hidden;
    transition: 300ms ease-in-out;
}

.project-image-container-left:hover,
.project-image-container-right:hover {
    scale: 1.05;
}

.project-image {
    min-width: 150%;
    min-height: 150%;
    rotate: -45deg;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -36px 0px 0 -36px;
    border: 1px solid red;
}