.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 8% 8% 8%;
  line-height: 20px;
  color: var(--text-color);
}
.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 50px 0 75px 0;
}
.project__title {
  font-size: 2.2rem;
  font-weight: bold;
  border: 1px solid var(--secondary-color);
  border-radius: 2px;
  padding: 15px;
  width: fit-content;
  line-height: 2.2rem;
}
.project__role {
  font-size: 1.3rem;
  font-style: italic;
  color: var(--tertiary-color);
  margin: 20px 0;
}
.project__about {
  font-size: 1.3rem;
}
.project__link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 30px;
  transition: ease-out 200ms;
}
.project__link:active {
  animation: select 200ms 1 linear;
  color: var(--tertiary-color);
}
@keyframes select {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.8;
  }
  100% {
    scale: 1;
  }
}
.project__subtitle {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 30px;
}
.users-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin: 3% 0;
}
.project__users-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 999px;
  border: 2px solid var(--tertiary-color);
  min-width: fit-content;
  margin: 20px;
}
.project__circle-text {
  max-width: 200px;
  font-size: 1.2rem;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--primary-color);
  width: 100%;
  padding: 10px;
  margin: 3% 0;
  border-radius: 2px;
}
.project-card__user-title {
  font-size: 1.6rem;
  padding: 20px 0 10px 0;
}
.circles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.project__circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 999px;
  margin: 20px;
  background-color: var(--tertiary-color);
  min-width: fit-content;
}
.project__circle-bold {
  font-size: 1.4rem;
  padding-bottom: 15px;
}
.project__text {
  font-size: 1.2rem;
}
.design-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 2%;
}
.design-container__full-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}
.design__img {
  width: 550px;
  padding: 20px 0;
}

@media (max-width: 450px) {
  .project__title {
    font-size: 2rem;
    padding: 10px;
  }
  .project__role,
  .project__about {
    font-size: 1.2rem;
  }
  .project__link {
    font-size: 1.1rem;
  }
  .project__subtitle {
    font-size: 1.8rem;
  }
  .project__users-circle {
    width: 200px;
    height: 200px;
    margin: 20px 0;
  }
  .project__circle-text {
    max-width: 150px;
    font-size: 1rem;
  }
  .project-card__user-title {
    font-size: 1.3rem;
  }
  .project__circle {
    width: 200px;
    height: 200px;
    margin: 20px 0;
  }
  .project__circle-bold {
    font-size: 1.2rem;
    padding-bottom: 5px;
  }
  .project__text {
    font-size: 1rem;
  }
  .design__img {
    width: 100%;
  }
}
