.resume-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10% 10% 10%;
    line-height: 20px;
}

.resume-section {
    width: 100%;
    text-align: left;
}

.resume__title {
    font-size: 2rem;
    font-weight: bold;
    margin: 80px 0 30px 0;
}

.skills-text {
    margin: 15px 0;
}

.resume-container {
    margin-bottom: 30px;
}

.resume__specs {
    display: flex;
    margin-top: 20px;
}

.resume__name {
    font-size: 1.2rem;
    font-weight: bold;
}

.resume__role {
    font-size: 1.2rem;
    font-style: italic;
}

.resume-texts {
    margin-left: 30px;
}

.resume-text {
    margin: 15px 0;
}

.resume__dates {
    margin-top: 3px;
    font-style: italic;
}

.resume__degree {
    font-size: 1.2rem;
    font-style: italic;
}

.education-container {
    display: flex;
}

.normal-font {
    font-style: normal;
}